<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.witsafe.contracts.dao.flow.WfSurrogateMapper" >
  <resultMap id="BaseResultMap" type="com.witsafe.contracts.model.flow.WfSurrogate" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="process_Name" property="processName" jdbcType="VARCHAR" />
    <result column="operator" property="operator" jdbcType="VARCHAR" />
    <result column="surrogate" property="surrogate" jdbcType="VARCHAR" />
    <result column="odate" property="odate" jdbcType="VARCHAR" />
    <result column="sdate" property="sdate" jdbcType="VARCHAR" />
    <result column="edate" property="edate" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="BIT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, process_Name, operator, surrogate, odate, sdate, edate, state
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.witsafe.contracts.model.flow.WfSurrogateExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from wf_surrogate
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from wf_surrogate
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from wf_surrogate
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.witsafe.contracts.model.flow.WfSurrogateExample" >
    delete from wf_surrogate
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.witsafe.contracts.model.flow.WfSurrogate" >
    insert into wf_surrogate (id, process_Name, operator, 
      surrogate, odate, sdate, 
      edate, state)
    values (#{id,jdbcType=VARCHAR}, #{processName,jdbcType=VARCHAR}, #{operator,jdbcType=VARCHAR}, 
      #{surrogate,jdbcType=VARCHAR}, #{odate,jdbcType=VARCHAR}, #{sdate,jdbcType=VARCHAR}, 
      #{edate,jdbcType=VARCHAR}, #{state,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.witsafe.contracts.model.flow.WfSurrogate" >
    insert into wf_surrogate
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="processName != null" >
        process_Name,
      </if>
      <if test="operator != null" >
        operator,
      </if>
      <if test="surrogate != null" >
        surrogate,
      </if>
      <if test="odate != null" >
        odate,
      </if>
      <if test="sdate != null" >
        sdate,
      </if>
      <if test="edate != null" >
        edate,
      </if>
      <if test="state != null" >
        state,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="processName != null" >
        #{processName,jdbcType=VARCHAR},
      </if>
      <if test="operator != null" >
        #{operator,jdbcType=VARCHAR},
      </if>
      <if test="surrogate != null" >
        #{surrogate,jdbcType=VARCHAR},
      </if>
      <if test="odate != null" >
        #{odate,jdbcType=VARCHAR},
      </if>
      <if test="sdate != null" >
        #{sdate,jdbcType=VARCHAR},
      </if>
      <if test="edate != null" >
        #{edate,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        #{state,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.witsafe.contracts.model.flow.WfSurrogateExample" resultType="java.lang.Integer" >
    select count(*) from wf_surrogate
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update wf_surrogate
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.processName != null" >
        process_Name = #{record.processName,jdbcType=VARCHAR},
      </if>
      <if test="record.operator != null" >
        operator = #{record.operator,jdbcType=VARCHAR},
      </if>
      <if test="record.surrogate != null" >
        surrogate = #{record.surrogate,jdbcType=VARCHAR},
      </if>
      <if test="record.odate != null" >
        odate = #{record.odate,jdbcType=VARCHAR},
      </if>
      <if test="record.sdate != null" >
        sdate = #{record.sdate,jdbcType=VARCHAR},
      </if>
      <if test="record.edate != null" >
        edate = #{record.edate,jdbcType=VARCHAR},
      </if>
      <if test="record.state != null" >
        state = #{record.state,jdbcType=BIT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update wf_surrogate
    set id = #{record.id,jdbcType=VARCHAR},
      process_Name = #{record.processName,jdbcType=VARCHAR},
      operator = #{record.operator,jdbcType=VARCHAR},
      surrogate = #{record.surrogate,jdbcType=VARCHAR},
      odate = #{record.odate,jdbcType=VARCHAR},
      sdate = #{record.sdate,jdbcType=VARCHAR},
      edate = #{record.edate,jdbcType=VARCHAR},
      state = #{record.state,jdbcType=BIT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.witsafe.contracts.model.flow.WfSurrogate" >
    update wf_surrogate
    <set >
      <if test="processName != null" >
        process_Name = #{processName,jdbcType=VARCHAR},
      </if>
      <if test="operator != null" >
        operator = #{operator,jdbcType=VARCHAR},
      </if>
      <if test="surrogate != null" >
        surrogate = #{surrogate,jdbcType=VARCHAR},
      </if>
      <if test="odate != null" >
        odate = #{odate,jdbcType=VARCHAR},
      </if>
      <if test="sdate != null" >
        sdate = #{sdate,jdbcType=VARCHAR},
      </if>
      <if test="edate != null" >
        edate = #{edate,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.witsafe.contracts.model.flow.WfSurrogate" >
    update wf_surrogate
    set process_Name = #{processName,jdbcType=VARCHAR},
      operator = #{operator,jdbcType=VARCHAR},
      surrogate = #{surrogate,jdbcType=VARCHAR},
      odate = #{odate,jdbcType=VARCHAR},
      sdate = #{sdate,jdbcType=VARCHAR},
      edate = #{edate,jdbcType=VARCHAR},
      state = #{state,jdbcType=BIT}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>