<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.witsafe.contracts.dao.flow.WfTaskMapper" >
  <resultMap id="BaseResultMap" type="com.witsafe.contracts.model.flow.WfTask" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="order_Id" property="orderId" jdbcType="VARCHAR" />
    <result column="task_Name" property="taskName" jdbcType="VARCHAR" />
    <result column="display_Name" property="displayName" jdbcType="VARCHAR" />
    <result column="task_Type" property="taskType" jdbcType="BIT" />
    <result column="perform_Type" property="performType" jdbcType="BIT" />
    <result column="operator" property="operator" jdbcType="VARCHAR" />
    <result column="create_Time" property="createTime" jdbcType="VARCHAR" />
    <result column="finish_Time" property="finishTime" jdbcType="VARCHAR" />
    <result column="expire_Time" property="expireTime" jdbcType="VARCHAR" />
    <result column="action_Url" property="actionUrl" jdbcType="VARCHAR" />
    <result column="parent_Task_Id" property="parentTaskId" jdbcType="VARCHAR" />
    <result column="variable" property="variable" jdbcType="VARCHAR" />
    <result column="version" property="version" jdbcType="BIT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, order_Id, task_Name, display_Name, task_Type, perform_Type, operator, create_Time, 
    finish_Time, expire_Time, action_Url, parent_Task_Id, variable, version
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.witsafe.contracts.model.flow.WfTaskExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from wf_task
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from wf_task
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from wf_task
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.witsafe.contracts.model.flow.WfTaskExample" >
    delete from wf_task
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.witsafe.contracts.model.flow.WfTask" >
    insert into wf_task (id, order_Id, task_Name, 
      display_Name, task_Type, perform_Type, 
      operator, create_Time, finish_Time, 
      expire_Time, action_Url, parent_Task_Id, 
      variable, version)
    values (#{id,jdbcType=VARCHAR}, #{orderId,jdbcType=VARCHAR}, #{taskName,jdbcType=VARCHAR}, 
      #{displayName,jdbcType=VARCHAR}, #{taskType,jdbcType=BIT}, #{performType,jdbcType=BIT}, 
      #{operator,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR}, #{finishTime,jdbcType=VARCHAR}, 
      #{expireTime,jdbcType=VARCHAR}, #{actionUrl,jdbcType=VARCHAR}, #{parentTaskId,jdbcType=VARCHAR}, 
      #{variable,jdbcType=VARCHAR}, #{version,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.witsafe.contracts.model.flow.WfTask" >
    insert into wf_task
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="orderId != null" >
        order_Id,
      </if>
      <if test="taskName != null" >
        task_Name,
      </if>
      <if test="displayName != null" >
        display_Name,
      </if>
      <if test="taskType != null" >
        task_Type,
      </if>
      <if test="performType != null" >
        perform_Type,
      </if>
      <if test="operator != null" >
        operator,
      </if>
      <if test="createTime != null" >
        create_Time,
      </if>
      <if test="finishTime != null" >
        finish_Time,
      </if>
      <if test="expireTime != null" >
        expire_Time,
      </if>
      <if test="actionUrl != null" >
        action_Url,
      </if>
      <if test="parentTaskId != null" >
        parent_Task_Id,
      </if>
      <if test="variable != null" >
        variable,
      </if>
      <if test="version != null" >
        version,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="taskName != null" >
        #{taskName,jdbcType=VARCHAR},
      </if>
      <if test="displayName != null" >
        #{displayName,jdbcType=VARCHAR},
      </if>
      <if test="taskType != null" >
        #{taskType,jdbcType=BIT},
      </if>
      <if test="performType != null" >
        #{performType,jdbcType=BIT},
      </if>
      <if test="operator != null" >
        #{operator,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="finishTime != null" >
        #{finishTime,jdbcType=VARCHAR},
      </if>
      <if test="expireTime != null" >
        #{expireTime,jdbcType=VARCHAR},
      </if>
      <if test="actionUrl != null" >
        #{actionUrl,jdbcType=VARCHAR},
      </if>
      <if test="parentTaskId != null" >
        #{parentTaskId,jdbcType=VARCHAR},
      </if>
      <if test="variable != null" >
        #{variable,jdbcType=VARCHAR},
      </if>
      <if test="version != null" >
        #{version,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.witsafe.contracts.model.flow.WfTaskExample" resultType="java.lang.Integer" >
    select count(*) from wf_task
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update wf_task
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.orderId != null" >
        order_Id = #{record.orderId,jdbcType=VARCHAR},
      </if>
      <if test="record.taskName != null" >
        task_Name = #{record.taskName,jdbcType=VARCHAR},
      </if>
      <if test="record.displayName != null" >
        display_Name = #{record.displayName,jdbcType=VARCHAR},
      </if>
      <if test="record.taskType != null" >
        task_Type = #{record.taskType,jdbcType=BIT},
      </if>
      <if test="record.performType != null" >
        perform_Type = #{record.performType,jdbcType=BIT},
      </if>
      <if test="record.operator != null" >
        operator = #{record.operator,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_Time = #{record.createTime,jdbcType=VARCHAR},
      </if>
      <if test="record.finishTime != null" >
        finish_Time = #{record.finishTime,jdbcType=VARCHAR},
      </if>
      <if test="record.expireTime != null" >
        expire_Time = #{record.expireTime,jdbcType=VARCHAR},
      </if>
      <if test="record.actionUrl != null" >
        action_Url = #{record.actionUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.parentTaskId != null" >
        parent_Task_Id = #{record.parentTaskId,jdbcType=VARCHAR},
      </if>
      <if test="record.variable != null" >
        variable = #{record.variable,jdbcType=VARCHAR},
      </if>
      <if test="record.version != null" >
        version = #{record.version,jdbcType=BIT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update wf_task
    set id = #{record.id,jdbcType=VARCHAR},
      order_Id = #{record.orderId,jdbcType=VARCHAR},
      task_Name = #{record.taskName,jdbcType=VARCHAR},
      display_Name = #{record.displayName,jdbcType=VARCHAR},
      task_Type = #{record.taskType,jdbcType=BIT},
      perform_Type = #{record.performType,jdbcType=BIT},
      operator = #{record.operator,jdbcType=VARCHAR},
      create_Time = #{record.createTime,jdbcType=VARCHAR},
      finish_Time = #{record.finishTime,jdbcType=VARCHAR},
      expire_Time = #{record.expireTime,jdbcType=VARCHAR},
      action_Url = #{record.actionUrl,jdbcType=VARCHAR},
      parent_Task_Id = #{record.parentTaskId,jdbcType=VARCHAR},
      variable = #{record.variable,jdbcType=VARCHAR},
      version = #{record.version,jdbcType=BIT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.witsafe.contracts.model.flow.WfTask" >
    update wf_task
    <set >
      <if test="orderId != null" >
        order_Id = #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="taskName != null" >
        task_Name = #{taskName,jdbcType=VARCHAR},
      </if>
      <if test="displayName != null" >
        display_Name = #{displayName,jdbcType=VARCHAR},
      </if>
      <if test="taskType != null" >
        task_Type = #{taskType,jdbcType=BIT},
      </if>
      <if test="performType != null" >
        perform_Type = #{performType,jdbcType=BIT},
      </if>
      <if test="operator != null" >
        operator = #{operator,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_Time = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="finishTime != null" >
        finish_Time = #{finishTime,jdbcType=VARCHAR},
      </if>
      <if test="expireTime != null" >
        expire_Time = #{expireTime,jdbcType=VARCHAR},
      </if>
      <if test="actionUrl != null" >
        action_Url = #{actionUrl,jdbcType=VARCHAR},
      </if>
      <if test="parentTaskId != null" >
        parent_Task_Id = #{parentTaskId,jdbcType=VARCHAR},
      </if>
      <if test="variable != null" >
        variable = #{variable,jdbcType=VARCHAR},
      </if>
      <if test="version != null" >
        version = #{version,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.witsafe.contracts.model.flow.WfTask" >
    update wf_task
    set order_Id = #{orderId,jdbcType=VARCHAR},
      task_Name = #{taskName,jdbcType=VARCHAR},
      display_Name = #{displayName,jdbcType=VARCHAR},
      task_Type = #{taskType,jdbcType=BIT},
      perform_Type = #{performType,jdbcType=BIT},
      operator = #{operator,jdbcType=VARCHAR},
      create_Time = #{createTime,jdbcType=VARCHAR},
      finish_Time = #{finishTime,jdbcType=VARCHAR},
      expire_Time = #{expireTime,jdbcType=VARCHAR},
      action_Url = #{actionUrl,jdbcType=VARCHAR},
      parent_Task_Id = #{parentTaskId,jdbcType=VARCHAR},
      variable = #{variable,jdbcType=VARCHAR},
      version = #{version,jdbcType=BIT}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>