<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.witsafe.contracts.dao.WfHistOrderMapper" >
  <resultMap id="BaseResultMap" type="com.witsafe.contracts.model.WfHistOrder" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="process_Id" property="processId" jdbcType="VARCHAR" />
    <result column="order_State" property="orderState" jdbcType="BIT" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="create_Time" property="createTime" jdbcType="VARCHAR" />
    <result column="end_Time" property="endTime" jdbcType="VARCHAR" />
    <result column="expire_Time" property="expireTime" jdbcType="VARCHAR" />
    <result column="priority" property="priority" jdbcType="BIT" />
    <result column="parent_Id" property="parentId" jdbcType="VARCHAR" />
    <result column="order_No" property="orderNo" jdbcType="VARCHAR" />
    <result column="variable" property="variable" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, process_Id, order_State, creator, create_Time, end_Time, expire_Time, priority, 
    parent_Id, order_No, variable
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.witsafe.contracts.model.WfHistOrderExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from wf_hist_order
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from wf_hist_order
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from wf_hist_order
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.witsafe.contracts.model.WfHistOrderExample" >
    delete from wf_hist_order
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.witsafe.contracts.model.WfHistOrder" >
    insert into wf_hist_order (id, process_Id, order_State, 
      creator, create_Time, end_Time, 
      expire_Time, priority, parent_Id, 
      order_No, variable)
    values (#{id,jdbcType=VARCHAR}, #{processId,jdbcType=VARCHAR}, #{orderState,jdbcType=BIT}, 
      #{creator,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR}, #{endTime,jdbcType=VARCHAR}, 
      #{expireTime,jdbcType=VARCHAR}, #{priority,jdbcType=BIT}, #{parentId,jdbcType=VARCHAR}, 
      #{orderNo,jdbcType=VARCHAR}, #{variable,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.witsafe.contracts.model.WfHistOrder" >
    insert into wf_hist_order
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="processId != null" >
        process_Id,
      </if>
      <if test="orderState != null" >
        order_State,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="createTime != null" >
        create_Time,
      </if>
      <if test="endTime != null" >
        end_Time,
      </if>
      <if test="expireTime != null" >
        expire_Time,
      </if>
      <if test="priority != null" >
        priority,
      </if>
      <if test="parentId != null" >
        parent_Id,
      </if>
      <if test="orderNo != null" >
        order_No,
      </if>
      <if test="variable != null" >
        variable,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="processId != null" >
        #{processId,jdbcType=VARCHAR},
      </if>
      <if test="orderState != null" >
        #{orderState,jdbcType=BIT},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="endTime != null" >
        #{endTime,jdbcType=VARCHAR},
      </if>
      <if test="expireTime != null" >
        #{expireTime,jdbcType=VARCHAR},
      </if>
      <if test="priority != null" >
        #{priority,jdbcType=BIT},
      </if>
      <if test="parentId != null" >
        #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="orderNo != null" >
        #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="variable != null" >
        #{variable,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.witsafe.contracts.model.WfHistOrderExample" resultType="java.lang.Integer" >
    select count(*) from wf_hist_order
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update wf_hist_order
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.processId != null" >
        process_Id = #{record.processId,jdbcType=VARCHAR},
      </if>
      <if test="record.orderState != null" >
        order_State = #{record.orderState,jdbcType=BIT},
      </if>
      <if test="record.creator != null" >
        creator = #{record.creator,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_Time = #{record.createTime,jdbcType=VARCHAR},
      </if>
      <if test="record.endTime != null" >
        end_Time = #{record.endTime,jdbcType=VARCHAR},
      </if>
      <if test="record.expireTime != null" >
        expire_Time = #{record.expireTime,jdbcType=VARCHAR},
      </if>
      <if test="record.priority != null" >
        priority = #{record.priority,jdbcType=BIT},
      </if>
      <if test="record.parentId != null" >
        parent_Id = #{record.parentId,jdbcType=VARCHAR},
      </if>
      <if test="record.orderNo != null" >
        order_No = #{record.orderNo,jdbcType=VARCHAR},
      </if>
      <if test="record.variable != null" >
        variable = #{record.variable,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update wf_hist_order
    set id = #{record.id,jdbcType=VARCHAR},
      process_Id = #{record.processId,jdbcType=VARCHAR},
      order_State = #{record.orderState,jdbcType=BIT},
      creator = #{record.creator,jdbcType=VARCHAR},
      create_Time = #{record.createTime,jdbcType=VARCHAR},
      end_Time = #{record.endTime,jdbcType=VARCHAR},
      expire_Time = #{record.expireTime,jdbcType=VARCHAR},
      priority = #{record.priority,jdbcType=BIT},
      parent_Id = #{record.parentId,jdbcType=VARCHAR},
      order_No = #{record.orderNo,jdbcType=VARCHAR},
      variable = #{record.variable,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.witsafe.contracts.model.WfHistOrder" >
    update wf_hist_order
    <set >
      <if test="processId != null" >
        process_Id = #{processId,jdbcType=VARCHAR},
      </if>
      <if test="orderState != null" >
        order_State = #{orderState,jdbcType=BIT},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_Time = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="endTime != null" >
        end_Time = #{endTime,jdbcType=VARCHAR},
      </if>
      <if test="expireTime != null" >
        expire_Time = #{expireTime,jdbcType=VARCHAR},
      </if>
      <if test="priority != null" >
        priority = #{priority,jdbcType=BIT},
      </if>
      <if test="parentId != null" >
        parent_Id = #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="orderNo != null" >
        order_No = #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="variable != null" >
        variable = #{variable,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.witsafe.contracts.model.WfHistOrder" >
    update wf_hist_order
    set process_Id = #{processId,jdbcType=VARCHAR},
      order_State = #{orderState,jdbcType=BIT},
      creator = #{creator,jdbcType=VARCHAR},
      create_Time = #{createTime,jdbcType=VARCHAR},
      end_Time = #{endTime,jdbcType=VARCHAR},
      expire_Time = #{expireTime,jdbcType=VARCHAR},
      priority = #{priority,jdbcType=BIT},
      parent_Id = #{parentId,jdbcType=VARCHAR},
      order_No = #{orderNo,jdbcType=VARCHAR},
      variable = #{variable,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>